body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#topbar {
    width: fit-content;
    margin: 0 auto;
    margin-top: 1%;
}
ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50vw;
    max-width: 20rem;
    padding: 0px;
    margin: 0px;
}

li{
    font-weight: bold;
    list-style: none;
    font-size: 1rem;
    margin: 0.3rem;
}

li:hover{
    color: rgb(255, 98, 0);
    transition-duration: 0.3s;
    text-shadow: 0 0 1rem white;
    user-select: none;
}

#sfondoanimato {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

#boxinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    margin-top: 10%;
    gap: 3rem;
}

.name{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0 5px #d000ff, 0 0 10px #ff00ae;
}
.info{
    display: block;
    margin-top: 0.39rem;
    font-weight: bold;
    color: #00ffff;
    clear: right;
}

a{
    text-decoration: none !important;
    color: inherit;
}

#col1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}

#col2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    gap: 2rem;
}

.logo1{
    display: block;
    margin: auto;
    width: 70%;
}

.glass{
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.glass2{
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(3px) saturate(190%);
    -webkit-backdrop-filter: blur(3px) saturate(190%);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
}
#projects{
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3%;
}
.contenitore{
    width: 90%;
    background: rgba(0, 0, 0, 0.75);
    margin: 0px auto;
    border: 1px solid;
    border-radius: 7px;
    border-color: transparent;
    color: white;
    backdrop-filter: blur(3px) saturate(190%);
    -webkit-backdrop-filter: blur(3px) saturate(190%);
}
#Ai{
    box-shadow:
            0 0 10px #ff00ae,
            0 0 20px #ff00ae,
            0 0 40px #ff00ae;
}
#Swe{
    box-shadow:
            0 0 10px rgba(0, 255, 255, 0.73),
            0 0 20px #00f0ff,
            0 0 40px #00f0ff;
}
#Tw{
    box-shadow:
            0 0 10px #ffff00,
            0 0 20px #ffff00,
            0 0 40px #ffff00;
}
#Mp{
    box-shadow:
            0 0 10px #ff4400,
            0 0 20px #ff4400,
            0 0 40px #ff4400;
}
#Minervas{
    box-shadow:
            0 0 10px #00ff03,
            0 0 20px #00ff03,
            0 0 40px #00ff03;
}
#Nms{
    box-shadow:
            0 0 10px #7b00ff,
            0 0 20px #7b00ff,
            0 0 40px #7b00ff;
}

.copertina_prog{
    width: 50%;
    margin: 0.5rem;
    float: left;
}

.colonna{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none !important;
}

.flex{
    display: flex !important;
}
.block{
    display: block !important;
}

@media (max-width: 1400px){
    .logo1{
        width: 100%;
    }
}
/*timeline credit to w3s*/
/* The actual timeline (the vertical ruler) */
.timeline {
    display: none;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #00ffeb;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    border: 4px solid #ffffff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

* {
    box-sizing: border-box;
}

.anno{
    color: rgba(0, 255, 255, 0.73);
    font-weight: bold;
}