body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#topbar {
    width: fit-content;
    margin: 0 auto;
    margin-top: 1%;
}
ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50vw;
    max-width: 20rem;
    padding: 0px;
    margin: 0px;
}

li{
    font-weight: bold;
    list-style: none;
    font-size: 1rem;
    margin: 0.3rem;
}

li:hover{
    color: rgb(255, 98, 0);
    transition-duration: 0.3s;
    text-shadow: 0 0 1rem white;
    user-select: none;
}

#sfondoanimato {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

#boxinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
    margin-top: 10%;
    gap: 1rem;
}

.name{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0 5px #d000ff, 0 0 10px #ff00ae;
}
.info{
    display: block;
    margin-top: 0.39rem;
    font-weight: bold;
    color: #00ffff;
    clear: right;
}

a{
    text-decoration: none !important;
    color: inherit;
}

#col1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    gap: 0.5rem;
    width: 100%;
}

#col2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    gap: 2rem;
    margin: 1rem;
}

.logo1{
    display: block;
    margin: auto;
    width: 70%;
}

.glass{
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.glass2{
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(3px) saturate(190%);
    -webkit-backdrop-filter: blur(3px) saturate(190%);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
}
#projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3%;
}
.contenitore{
    width: 90%;
    background: rgba(0, 0, 0, 0.75);
    margin: 0px auto;
    border: 1px solid;
    border-radius: 7px;
    border-color: transparent;
    color: white;
    backdrop-filter: blur(3px) saturate(190%);
    -webkit-backdrop-filter: blur(3px) saturate(190%);
}
#Ai{
    box-shadow:
            0 0 10px #ff00ae,
            0 0 20px #ff00ae,
            0 0 40px #ff00ae;
}
#Swe{
    box-shadow:
            0 0 10px rgba(0, 255, 255, 0.73),
            0 0 20px #00f0ff,
            0 0 40px #00f0ff;
}
#Tw{
    box-shadow:
            0 0 10px #ffff00,
            0 0 20px #ffff00,
            0 0 40px #ffff00;
}
#Mp{
    box-shadow:
            0 0 10px #ff4400,
            0 0 20px #ff4400,
            0 0 40px #ff4400;
}
#Minervas{
    box-shadow:
            0 0 10px #00ff03,
            0 0 20px #00ff03,
            0 0 40px #00ff03;
}
#Nms{
    box-shadow:
            0 0 10px #7b00ff,
            0 0 20px #7b00ff,
            0 0 40px #7b00ff;
}

.copertina_prog{
    width: 50%;
    margin: 0.5rem;
    float: left;
    padding: 0.1rem;
}

.colonna{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none !important;
}

.flex{
    display: flex !important;
}
.block{
    display: block !important;
}


* {
    box-sizing: border-box;
}

#lingua{
    position: fixed;
    top: 3vh;
    right: 3vw;
}

.loghino{
    height: 1.7rem;
}

.loghino:hover{
    transform: scale(1.3);
    transition-duration: 0.33s;
}

#loghinis-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 3%;
    gap: 1rem;
}

@media (max-width: 1400px){
    .logo1{
        width: 100%;
    }
    .copertina_prog{
        width: 100%;
        float: left;
        margin: 0;
        padding: 0.3rem;
    }
    #sfondoanimato{
        background-position: right center;
    }
    #boxinfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75vw;
    }
    .name{
        color: white;
        font-weight: bold;
        font-size: 5rem;
        text-shadow: 0 0 5px #d000ff, 0 0 10px #ff00ae;
    }
    .info{
        display: block;
        margin-top: 0.39rem;
        font-weight: bold;
        color: #00ffff;
        clear: right;
        font-size: 2rem;
    }
    .loghino{
        height: 2.77rem;
    }
    .bandiera{
        font-size: 3rem;
    }
    li{
        font-weight: bold;
        list-style: none;
        font-size: 2rem;
        margin: 0.3rem;
    }
}

@media print {
    #sfondoanimato {
        display: none;
    }
}